/* Light and Dark mode */
.mode{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 56px;
}
.label{
    display: flex;
    background-color: #ccec56;
    height: 26px;
    width:90px;
    border-radius: 50px;
}
.label:hover{
    cursor: pointer;
    background: #ccec56;
    box-shadow: 0 0 5px #d9fc5a,
                0 0 25px #ccec56,
                0 0 50px #ccec56,
                0 0 200px #ccec56;
}
.bright{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    font-size: 11px;
    font-weight: bold;
    width:70px;
    position: absolute;
    top:5px;
    left:94.1%;
}
.dark{
    visibility: hidden;
}
.checkbox{
    opacity: 0;
    position:absolute;
}
.checkbox checked + .label .ball{
    transform: translateX(24px);
}
body{
    background-color:rgb(26, 25, 25);
    transition: background 0.2s linear;
}
body.light .dark{
    visibility: visible;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    font-size: 11.5px;
    font-weight: bold;
    width:80px;
    position: absolute;
    top:5px;
    left:94.3%;
}
body.light{
    background-color: white;
}
body.light .bright{
    visibility: hidden;
}
body.light .label{
    background-color: rgb(153, 153, 146);
}
body.light .label:hover{
    background: rgb(116, 116, 111);
    cursor: pointer;
    box-shadow: 0 0 5px rgb(116, 116, 111),
                0 0 25px rgb(116, 116, 111),
                0 0 50px rgb(116, 116, 111),
                0 0 200px rgb(116, 116, 111);
}
body.light .site-title{
    color:white;
    background-color:rgb(46, 46, 44);
}
body.light .container{
    border: white 10px solid;
    background-color: rgb(87, 87, 85);
}
body.light #search{
    background-color: white;
    color: black;
    border-bottom: grey 2px solid;
}
/* Main heading */
.site-title{
    display: inline-block;
    color:white;
    font-size: 26px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:white 1px solid;
    padding: 10px 30px 10px 30px;
    position: relative;
    left:40%;
    top:20px;
}
/* Search Bar */
#search{
    position: relative;
    top:50px;
    left:65px;
    width: 90%;
    height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-color:rgb(26, 25, 25);
    border-top: black;
    border-left: black;
    border-right: black;
    border-bottom: white 1px solid;
    color: white;
}
/* News display */
#news-articles{
    display: flex;
    flex-wrap: wrap;
}
.container{
    position: relative;
    top: 50px;
    max-width:200px;
    border: rgb(26, 25, 25) 10px solid;
    height:440px;
    background-color:rgb(58, 58, 58);
    margin-bottom: 20px;
    border-radius: 18px;
    padding-right: 30px;
}
.article{
    list-style-type: none;
    display: inline;
}
.container:hover{
    background-color:rgb(131, 130, 130);
    opacity:0.7 ;
    filter:alpha(opacity=70);
}
.img_style{
    position: relative;
    top:20px;
    left:15px;
    width:200px;
    height:150px;
    background-color:black;
}
.article-img{
    width:200px;
    height:150px;
}
.article-title{
    position: relative;
    top:10px;
    left: 15px;
    background: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.article-description{
    position: relative;
    left:15px;
    font-size: 15px;
    color:white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.article-author{
    display:block;
    text-align: right;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:deepskyblue;
}
.article-link{
    color:white;
    text-decoration: none;
}
.not-found{
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top:70px;
    left: 25px;
    width: 350px;
}
.loader{
    position: relative;
    z-index: 99;
    top: 120px;
    left: 0;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 3s;
}
.loader img{
    border-radius: 50%;
    width:300px;
    height:300px;
}
     
/* Responsive Web design*/
@media only screen and (max-width: 600px) {
  
.site-title{
    position: relative;
    top:30px;
    left:150px;
}
#search{
    width:77%;
    font-size: 22px;
}
.bright{
    position: absolute;
    top:25px;
    left:90%;
}
body.light .dark{
    position: absolute;
    top:25px;
    left:90%;
}
} 
   
